* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.home {
  text-align: center;
  margin-top: 30vh;
}
.main {
  color: #240046;
  font-weight: 800;
  margin: 15px;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.registerBtn {
  background-color: #240046;
  color: #fff;
  transition: all 0.5s;
  position: relative;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.registerBtn:hover{
    background-color: #002fff;
    color: #ffffff;
}
.loginBtn {
  color: #240046;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #240046;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
.loginBtn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}
.loginBtn:hover {
  transform: scale(1.07);
  padding-right: 24px;
  padding-left: 8px;
}
.loginBtn:hover:after {
  opacity: 1;
  right: 10px;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.header_logo img {
  width: 100px;
  animation: rotate 3s linear infinite;
  border-radius: 50%;
}
