@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Yanone+Kaffeesatz&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: #fca311;
  font-family: 'Merriweather Sans', sans-serif;
}
.App{
  /* text-align: center; */
}
